@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
@import url('https://statics.goorm.io/fonts/GoormSansCode/v1.0.1/GoormSansCode.min.css');

:root {
    --vp-font-family-base: 'Wanted Sans Variable', 'Wanted Sans', -apple-system,
        BlinkMacSystemFont, system-ui, 'Segoe UI', 'Apple SD Gothic Neo',
        'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', sans-serif;
    --vp-font-family-mono: 'Goorm Sans Code', sans-serif;
}
