@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --vp-font-family-base: 'Wanted Sans Variable', 'Wanted Sans', -apple-system,
        BlinkMacSystemFont, system-ui, 'Segoe UI', 'Apple SD Gothic Neo',
        'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', sans-serif;
    --vp-font-family-mono: D2Coding;
}
