name: Test

on:
    pull_request:
        branches: ['main']

permissions:
    contents: read

jobs:
    Test:
        runs-on: ubuntu-latest

        steps:
            - name: Setup repo
              uses: actions/checkout@v4

            - name: Setup Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Install Dependencies
              run: deno install --allow-scripts

            - name: Run tests
              run: deno task test
